.navbar li a{
  margin: 0px;
    padding: 0px;
    color: white !important; 
     
     
}

.navbar-brand {
    color: white;
}

ul {
    display: flex;
    flex-direction: center;
}

.cart {
    display: flex;
}